<!DOCTYPE>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="utf-8">
     <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script scr="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery/min.js"></script>
    <script scr="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>About Myself...</h1>
    <h3 class="row">
        <div class="col-md-4" style="background-color:#879F49"></div>
        <div class="col-md-4" style="background-color:#879F49"></div>
        <div class="col-md-4" style="background-color:#879F49"></div>
        <div class="col-md-4" style="background-color:#879F49"></div>
        <div class="col-md-4" style="background-color:#879F49"></div>
        <div class="col-md-4" style="background-color:#879F49"></div><br>

        <p><h4>My name is {{name}}.I am pursing B.tech with the specialization in <mark>computer science</mark>
           branch,currently (2020) I am in 3rd year...<br><br>

           I  am interested in technology and very curious to learn how they works..Presently I have knowledge of Python , Html ,
        CSS , Bootstrap and learning Django...and want to learn ML,Algo,DS and so on....</h4></p>

        <br><br><p><h4>
            This is my first Project on Django.In this project i have learn so many things..and lots of fun...
 <br>       I believe in  observing and learning.
        <br><br>
        <br><blockquote>Always be a good learner ,observer and doer<footer>{{name}}</footer></blockquote></h4></p>
<div class="col-md-4" style="background-color:#879F49"></div>
        <div class="col-md-4" style="background-color:#879F49"></div>
        <div class="col-md-4" style="background-color:#879F49"></div>
        <div class="col-md-4" style="background-color:#879F49"></div>
        <div class="col-md-4" style="background-color:#879F49"></div>
        <div class="col-md-4" style="background-color:#879F49"></div><br>
    <h6>  <a class="btn btn-success" href="{% url 'index' %}" role="button">&laquo; back </a></h6>
    </div>

</div>
</body>
</html>
